.container {
  display: grid;
  grid-template-columns: 0.8fr 60% 1fr;
  grid-template-rows: 1.5fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "leftNav-box inputForm inputForm"
    "leftNav-box cardsContainer cardsContainer"
    "leftNav-box cardsContainer cardsContainer";
}
